input button{
    border-radius: 0;
}
.hidden {
    display: none;
}
a{
    text-decoration: none;
    color:unset;
}
a:hover{
    text-decoration: none;
    color:unset;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.font-color-white {
    color: #ffffff;
}

.font-color-red{
    color: #E21B14;
}

.font-color-grey{
    color: #656565;
}

.font-color-dark-grey{
    color: #868686;
}

.font-color-silver-grey{
    color:#A7A7A7;
}

.font-color-light-grey{
    color:#7E7E7E;
}

.font-color-black{
    color:#000;
}

.font-size-10 {
    font-size: 10px !important;
}

.font-size-12 {
    font-size: 12px !important;
}

.font-size-13 {
    font-size: 13px !important;
}

.font-size-14 {
    font-size: 14px !important;
}

.font-size-15 {
    font-size: 15px !important;
}

.font-size-16 {
    font-size: 16px !important;
}

.font-size-18 {
    font-size: 18px !important;
}

.font-size-20 {
    font-size: 20px !important;
}

.font-size-22 {
    font-size: 22px !important;
}

.font-size-24 {
    font-size: 24px !important;
}

.font-size-26 {
    font-size: 26px !important;
}

.font-size-28 {
    font-size: 28px !important;
}

.font-weight {
    font-weight: bold;
}

.margin-auto{
    margin:0 auto;
}

.margin-left-0 {
    margin-left: 0px;
}

.margin-left-2 {
    margin-left: 2px;
}

.margin-left-5 {
    margin-left: 5px;
}

.margin-left-10 {
    margin-left: 10px;
}

.margin-left-15 {
    margin-left: 15px;
}

.margin-left-20 {
    margin-left: 20px;
}

.margin-left-30 {
    margin-left: 30px;
}

.margin-left-40 {
    margin-left: 40px;
}

.margin-right-0 {
    margin-right: 0px;
}

.margin-right-2 {
    margin-right: 2px;
}

.margin-right-5 {
    margin-right: 5px;
}

.margin-right-10 {
    margin-right: 10px;
}

.margin-right-15 {
    margin-right: 15px;
}

.margin-right-20 {
    margin-right: 20px;
}

.margin-right-30 {
    margin-right: 30px;
}

.margin-right-40 {
    margin-right: 40px;
}

.margin-right-50 {
    margin-right: 50px;
}

.margin-top-2 {
    margin-top: 2px;
}

.margin-top-5 {
    margin-top: 5px;
}

.margin-top-10 {
    margin-top: 10px;
}

.margin-top-15 {
    margin-top: 15px;
}

.margin-top-20 {
    margin-top: 20px;
}

.margin-top-25 {
    margin-top: 25px;
}

.margin-top-30 {
    margin-top: 30px;
}

.margin-top-40 {
    margin-top: 40px;
}

.margin-top-50 {
    margin-top: 50px;
}

.margin-top-57 {
    margin-top: 57px;
}

.margin-top-70 {
    margin-top: 70px;
}

.margin-top-100 {
    margin-top: 100px;
}

.margin-top-150 {
    margin-top: 150px;
}

.margin-bottom-0 {
    margin-bottom: 0px;
}

.margin-bottom-5 {
    margin-bottom: 5px;
}

.margin-bottom-10 {
    margin-bottom: 10px;
}

.margin-bottom-15 {
    margin-bottom: 15px;
}

.margin-bottom-20 {
    margin-bottom: 20px;
}

.margin-bottom-25 {
    margin-bottom: 25px;
}

.margin-bottom-30 {
    margin-bottom: 30px;
}

.margin-bottom-40 {
    margin-bottom: 40px;
}

.margin-bottom-50 {
    margin-bottom: 50px;
}

.margin-bottom-100 {
    margin-bottom: 100px;
}

.margin-10 {
    margin: 10px;
}

.margin-20 {
    margin: 20px;
}

.margin-40 {
    margin: 40px;
}

.padding-0{
    padding: 0px;
}

.padding-left-0 {
    padding-left: 0px;
}

.padding-left-5 {
    padding-left: 5px;
}

.padding-left-10 {
    padding-left: 10px;
}

.padding-left-15 {
    padding-left: 15px;
}

.padding-left-20 {
    padding-left: 20px;
}

.padding-left-30 {
    padding-left: 30px;
}

.padding-left-40 {
    padding-left: 40px;
}

.padding-left-50 {
    padding-left: 50px;
}

.padding-right-0 {
    padding-right: 0px;
}

.padding-right-5 {
    padding-right: 5px;
}

.padding-right-10 {
    padding-right: 10px;
}

.padding-right-15 {
    padding-right: 15px;
}

.padding-right-20 {
    padding-right: 20px;
}

.padding-right-30 {
    padding-right: 30px;
}

.padding-right-40 {
    padding-right: 40px;
}

.padding-right-50 {
    padding-right: 50px;
}

.padding-top-0 {
    padding-top: 0px;
}

.padding-top-2 {
    padding-top: 2px;
}

.padding-top-5 {
    padding-top: 5px;
}

.padding-top-10 {
    padding-top: 10px;
}

.padding-top-15 {
    padding-top: 15px;
}

.padding-top-20 {
    padding-top: 20px;
}

.padding-top-22{
    padding-top:22px;
}

.padding-top-25 {
    padding-top: 25px;
}

.padding-top-30 {
    padding-top: 30px;
}

.padding-top-35 {
    padding-top: 35px;
}

.padding-top-40 {
    padding-top: 40px;
}

.padding-top-45 {
    padding-top: 45px;
}

.padding-top-50 {
    padding-top: 50px;
}

.padding-top-150 {
    padding-top: 150px;
}

.padding-bottom-0 {
    padding-bottom: 0px;
}

.padding-bottom-5 {
    padding-bottom: 5px;
}

.padding-bottom-10 {
    padding-bottom: 10px;
}

.padding-bottom-15 {
    padding-bottom: 15px;
}

.padding-bottom-20 {
    padding-bottom: 20px;
}

.padding-bottom-22 {
    padding-bottom: 22px;
}

.padding-bottom-25 {
    padding-bottom: 25px;
}

.padding-bottom-30 {
    padding-bottom: 30px;
}

.padding-bottom-35 {
    padding-bottom: 35px;
}

.padding-bottom-40 {
    padding-bottom: 40px;
}

.padding-bottom-150{
    padding-bottom:150px;
}

.padding-10 {
    padding: 10px;
}

.padding-20 {
    padding: 20px;
}

.bg-none{
    background: none;
}

.bg-white {
    background: #fff;
}

.bg-grey {
    background: #393939;
}

.bg-light-grey {
    background: #E8E8E8;
}

.bg-red {
    background: #E21B14;
}

.letter-spacing-2{
    letter-spacing: 2px;
}

.cursor-pointer{
    cursor:pointer;
}

.border-radius-0{
    border-radius: 0px;
}

.border-radius-5px{
    border-radius: 5px;
}

.border-radius-10px{
    border-radius: 10px;
}

.border-radius-left{
    border-radius: 10px 0 0 10px;
}

.border-radius-right{
    border-radius: 0 10px 10px 0;
}

.border-radius-top{
    border-radius: 10px 10px 0 0;
}

.border-radius-bottom{
    border-radius: 0 0 10px 10px;
}

.border-radius-half {
    border-radius: 50%;
}

.border-radius-50 {
    border-radius: 50%;
}

.border-radius-100{
    border-radius: 100%;
}

.border-top {
    border-top: 1px solid #989898;
}

.border-bottom {
    border-bottom: 1px solid #989898;
}

.border-left {
    border-left: 1px solid #989898;
}

.border-right {
    border-right: 1px solid #989898;
}

. border-top-0{
    border-top:0px;
}

. border-top-grey{
    border-top:1px solid #ccc;
}

. border-bottom-0{
    border-bottom:0px;
}

. border-left-0{
    border-left:0px;
}

. border-right-0{
    border-right:0px;
}

.border-0{
    border:0;
}

.border-red{
    border-color:#E21B14;
}

.text-oneline {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    word-break: break-all;
    -webkit-line-clamp: 1;
    overflow: hidden;
    text-overflow: ellipsis;
}

.text-twoline {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    word-break: break-all;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
}

.text-threeline {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    word-break: break-all;
    -webkit-line-clamp: 3;
    overflow: hidden;
    text-overflow: ellipsis;
}

.text-fourline {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    word-break: break-all;
    -webkit-line-clamp: 4;
    overflow: hidden;
    text-overflow: ellipsis;
}

.img-rect-30 {
    width: 30px;
    height: 30px;
}

.img-rect-40 {
    width: 40px;
    height: 40px;
}

.img-rect-45 {
    width: 45px;
    height: 45px;
}

.img-rect-50 {
    width: 50px;
    height: 50px;
}

.img-rect-60 {
    width: 60px;
    height: 60px;
}

.line-height-25 {
    line-height: 25px;
}

.line-height-30 {
    line-height: 30px;
}

.line-height-35 {
    line-height: 35px;
}

.line-height-40 {
    line-height: 40px;
}

.line-height-45 {
    line-height: 45px;
}

.line-height-50 {
    line-height: 50px;
}

.line-height-55 {
    line-height: 55px;
}

.line-height-60 {
    line-height: 60px;
}

.line-height-80 {
    line-height: 80px;
}

.line-height-100 {
    line-height: 100px;
}

.table-vertical-align{
    display:table-cell;
    vertical-align:middle;
}

.overflow-y-scroll{
    overflow-y: auto;
}

.overflow-x-scroll{
    overflow-x: auto;
}

.position-relative{
    position: relative;
}

.clear{
    clear:both;
}

.width-200px{
    width:200px;
}

.width-250px{
    width:250px;
}
.width-150px{
    width:150px;
}

.width-100px{
    width:150px;
}

.width-100{
    width:100%;
}

.width-70px{
    width:70px;
}

.width-70{
    width:70%;
}

.width-60px{
    width:60px;
}

.width-60{
    width:60%;
}

.width-55px{
    width:55px;
}

.width-55{
    width:55%;
}

.width-50px{
    width:50px;
}

.width-50{
    width:50%;
}

.width-40px{
    width:40px;
}

.width-40{
    width:40%;
}

.width-35px{
    width:35px;
}

.width-35{
    width:35%;
}

.width-30px{
    width:30px;
}

.width-30{
    width:30%;
}

.width-28{
    width:28px;
}

.width-25{
    width:25%;
}

.height-457px{
    height:457px;
}

.height-400px{
    height:400px;
}

.height-200px{
    height:200px;
}

.height-150px{
    height:150px;
}

.height-110px{
    height:110px;
}

.height-100{
    height:100%;
}

.height-100px{
    height:100px;
}

.height-80px{
    height:80px;
}

.height-60px{
    height:60px;
}

.height-50px{
    height:50px;
}

.height-30px{
    height:30px;
}

.height-28px{
    height:28px;
}

.text-algin-center{
    text-align: center;
}

.text-algin-right{
    text-align: right;
}

.text-algin-left{
    text-align: left;
}

.vertical-align-top{
    vertical-align: top;
}

.vertical-align-middle{
    vertical-align: middle;
}

.vertical-align-bottom{
    vertical-align: bottom;
}

/*隐藏*/
.hidden {
    display: none;;
}

/*自动隐藏文字*/
.style-ellipsis-1 {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.style-ellipsis {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    word-break: break-all;
    white-space: normal !important;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
.style-ellipsis-2 {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    word-break: break-all;
    white-space: normal !important;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.package-card .card-div {
    border: 1px solid #eee;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.1);
}

/*首页鼠标经过列表高亮显示*/

.package-card ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    border: 1px solid #eee;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.1);
}

.package-card ul:after {
    content: '';
    clear: both;
    display: block;
    /*width: 100%;*/
}

.package-card ul li {
    float: left;
    transition: all .2s;
    /*transition-delay: 1s*/
    width: 25%;
    min-height: 360px;
    border-right: 1px solid #ccc;
    box-sizing: border-box;
}

.package-card ul li h2 {
    font-size: 20px;
    text-align: center;
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
    line-height: 50px;
}

.package-card ul li h3 {
    font-size: 18px;
    text-align: center;
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
    line-height: 30px;
}

.package-card ul li a {
    display: block;
    width: 90%;
    margin: 10px auto;
    /*height: 60px;*/
    /*line-height: 60px;*/
    text-align: center;
    background: #DA6D0E;
    border-radius: 10px;
    transition: all .5s;
    position: relative;
    padding: 20px 0;
    text-decoration: none;
    color: #fff;
}

.package-card ul li a span {
    display: block;
}


.package-card ul li a:hover {
    box-shadow: 0px 1px 10px rgba(0,0,0,.8);
}

.package-card ul li p {
    text-align: center;
    color: #111;
}

.package-card ul li:nth-child(4) {
    border-right: none;
}
/*重写*/
.nav .open > a, .nav .open > a:hover, .nav .open > a {
    color:#000;
}
.nav .open > a, .nav .open > a:hover, .nav .open > a:hover {
    color:#000;
}
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    background-color: unset;
    border-color: unset;
}

@media (min-width:1024px){
    .bottom{
        font-size: 24px;
    }
}
@media (max-width:1024px){
    .bottom{
        font-size: 24px;
    }
}
@media (max-width:995px){
    .bottom{
        font-size: 20px;
    }
    /*.bottom .container img{*/
        /*display: none;;*/
    /*}*/
}
@media (max-width:768px){
    .bottom{
        font-size:14px;
    }
    .navbar-nav{
        margin:0;
    }
}
@media (max-width:412px){
    .bottom{
        font-size:12px;
    }
    .navbar-nav{
        margin-top:10px;
        margin-bottom:10px;
    }
}
@media (max-width:375px){
    .bottom{
        font-size:10px;
    }

}
@media (max-width:320px){

}
